.player-list {
  text-align: left;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}
h1 {
  font-style: oblique;
}
.player-image {
  justify-self: center;
  height: 12rem;
  width: auto;
}

#heading {
  text-align: center;
}

body {
  background-color: rgba(100, 159, 237, 0.945);
}

.player-container {
  padding: 1rem;
  width: stretch;
  color: rgb(157, 233, 122);
}

.submit {
  color: hotpink;
  font-style: italic;
}
